/* body and titles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #F4F6FC;
    margin: 4em 4.2% 7%;
    color: #514D67;
    font-family: 'Roboto';
    font-size: 100%;
}

h1 {
    font-weight: 700;
    font-size: 3.75em;
    line-height: 1.17em;
    color: #292E47;
}

h2 {
    font-weight: 700;
    font-size: 3.125em;
    line-height: 1.18em;
}

h3 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.175em;
}

h4 {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.167em;
}

/*body intro text 24 medium*/

.bodyMedium {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.17em;
}

/* body intro text 20 regular*/

.bodyRegular {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.87em;
}

/*headline text 17 regular*/

.htextRegular {
    font-weight: 400;
    font-size: 1.06em;
    line-height: 1.87em;
}

/*headline text 17 medium*/

.htextMedium {
    font-weight: 500;
    font-size: 1.06em;
    line-height: 130%;
}

/*caption 1 text 15 regular */

.captionOne {
    font-weight: 400;
    font-size: 0.93em;
    line-height: 1.2em;
}

/*caption 2 text 13 regular */

.captionTwo {
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.38em;
}

/*links*/

a {
    text-decoration: none;
}

/*margin-sections*/

.marginTopSections {
    margin-top: 12.5em;
}

/*nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    width: 60px;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.navLinks a {
    color: #6B708D;
}

.CTA {
    background-color: #072AC8;
    color: white;
    width: 9.375em;
    height: 3.25em;
    display: grid;
    place-items: center;
    text-align:center;
    transition-duration: 250ms;
}

.CTA:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    transition-duration: 250ms;
}

.CTA:active {
    background-color: #072ac8cd;
}

.navMenu, #navCTAMobile, #navClose {
    display: none;
}


.narrowSection {
    margin-right: 6.875em;
    margin-left: 6.875em;
}

    .projectsDisplay {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2.5em;
    }

    .projectsCard {
        width: 21em;
        box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
        background-color:white;
        padding: 0px 0px 1.9em 1.9em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        box-sizing: border-box;
        transition-duration: 1s;
    }

    .projectsCard:hover {
        box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.3);
        transition-duration: 1s;
    }

    .projectsCard .bodyMedium {
        margin-bottom: 0px;
    }

    .projectsCardImg {
        width: inherit;
        height: 60%;
        object-fit: cover;
        margin-left: -1.9em;
    }


    .projectsCard a {
        margin-top: 1.9em;
    }


    .newsletter {
        padding: 8.5em 21em;
        background-color: #FFC600;
        color:#292E47;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter h3 {
        margin-bottom: 0px;
        text-align: center;
    }

    .newsletter p {
        margin-bottom: 2em;
    }

    .suscribe {
        display: flex;
        flex-direction: row;
        gap: 0.6em;
    }

    .suscribe input {
        border: none;
        background-color: #F4F6FC;
        width: 18.75em;
        height: 3.75em;

        background-image: url("img/newsletter/icon/mail.svg");
        background-repeat: no-repeat;
        background-size: 1.9em;
        background-position: 15px 50%;
        text-indent: 3.125em;
    }

    .suscribe button {
        border: none;
        height: 3.75em;
        cursor:pointer;
    }

    footer {
        color: #6B708D;
        display: flex;
        justify-content: space-between;
        
    }

    .footerDescription {
        display: flex;
        justify-content: end;
        flex-direction: column;
        justify-content: space-between;
    }

    .footerLogo {
        width: 5.8em;
        object-fit: cover;
    }


    footer ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 6.25em;
        row-gap: 3em;
        align-items: end;
    }

    footer a{
        color: #6B708D
    }


    
@media screen and (min-width: 481px) and (max-width: 767px){
    .narrowSection {
        margin-right: 0em;
        margin-left: 0em;
    }

    html {
      font-size: 0.83em;
    }

    .htextMedium {
        font-size: 1.2em;
    }

    .htextRegular {
        font-size: 1.2em;
    }

    body {
        margin-top: 2em;
    }

    

    .marginTopSections {
        margin-top: 9em;
    }

    .projects{
        margin-right: auto;
        margin-left: auto;
    }

    .projectsDisplay {
        flex-direction: column;
    }

    .projectsCard {
        flex-direction: row;
        width: auto;
        padding-bottom:0;
        height: 20em;
    }

    .projectsCard img {
        width: 50%;
        height: 100%;
    }

    .projectsCard div {
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1em;
    }

    
    .newsletter {
        padding: 8.5em 0em;
    }

    
    footer ul {
        column-gap: 3em;
        row-gap: 3em;  
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: 0.5em;
        margin: 2em 2em;
    }

    .captionTwo {
        font-size: 1.2em;
    }

   .htextMedium, .htextRegular, .bodyRegular, .bodyMedium {
    font-size: 1.7em;
   }

   .narrowSection {
    margin-right: 0em;
    margin-left: 0em;
    }

    .marginTopSections {
        margin-top: 4em;
    }

    nav .CTA {
        display: none;
    }

    .navMenu, #navCTAMobile, #navClose {
        display: inline-block;
    }

    #navCTAMobile {
        background-color: #072AC8;
        color: white;
        display: grid;
        place-items: center;
        text-align:center;
        padding: 5px 10px;
    }

    .navLinks {
        visibility: hidden;
        opacity: 0;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
    }

    .navLinksVisible {
        visibility: visible;
        opacity: 1;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
    }

    .navLinks {
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        flex-direction: column;
        justify-content: start;
        align-items: self-end;
        gap: 3em;
        background-color: white;
        padding: 2rem;
        padding-left: 10em;
        z-index: 99;
        font-size: 1.2em;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }


    .hamburguer {
        width: 3em;
    }

    .projects{
        margin-right: auto;
        margin-left: auto;
    }

    .projectsDisplay {
        flex-direction: column;
    }

    .projectsCard {
        flex-direction: column;
        width: 90%;
    }

    .projectsCard img {
        width: calc(100% + 1.9em);
        height: 20em;
    }

    .projectsCard div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    .newsletter {
        padding: 5em 2em;
        align-items: self-start;
    }

    .suscribe {
        flex-direction: column;
        width:100%;
    }
    .suscribe input {
        width: auto;
    }

    .suscribe button {
        width: auto;
    }

    
    footer {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footerDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer ul {
        display: inline-block;
        padding: 0px;
    }

    footer li {
        margin-bottom: 5px;
    }    

}