/*navbar*/

nav {
    margin: 60px 110px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.navLinks a {
    color: #6B708D;
}

.CTA {
    background-color: #072AC8;
    color: white;
    width: 150px;
    height: 52px;
    display: grid;
    place-content: center;
}

/*hero*/

.hero {
    margin: 60px 110px 0px;
    display:flex;
    justify-content: space-between;
    gap: 45px;
}

.heroCTA {

    display: flex;

}
.heroImg {
    width: 500px;
}

.heroSecondary {
    width: 150px;
    height: 52px;
    display: grid;
    place-content: center;
    color: #6B708D;
}


/*logos*/
.logos {
    margin: 130px 110px 0px;
    display: flex;
    justify-content: space-between;
}

.logoImg {
    width: 10%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/*projects*/

.projects {
    margin: 200px 110px 0px;
}

.projectsDisplay {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.projectsCard {
    width: 340px;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projectsCard .bodyMedium {
    margin-bottom: 0px;
}

.projectsCardImg {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.projectsCardDescription {
    background-color:white;
    padding: 0px 0px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.projectsCardDescription a {
    margin-top: 30px;

}

/*testimonials*/

.testimonials {
    background-color:#292E47;
    background-image: url("/img/testimonial-section/orbit.png");
    background-size: cover;
    padding: 51px 72px 73px 123px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.testimonialsEmojis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonialsEmoji {
    width: 150px;
}

.testimonialsDescription {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 104px;
}

.testimonialsDescription h3 {
    color: #F4F6FC;
}

.testimonialsDescription .bodyMedium {
    color: #FFC600;
    width: 596px;
}

.testimonialsClient {
    display: flex;
    align-items: center;
    gap:10px;
}

.testimonialsClient div {
    text-align: left;
}

.testimonialsClient p {
    margin: 0;
    color: #F4F6FC;
}

.testimonialsClient p:first-of-type {
    color: #A2D6F9;
}


.testimonialsClient img {
    width:50px;
    height: 50px;
    object-fit: cover;
    border-radius:100%;
}

/*services*/

.services {
    margin: 200px 110px 0;
}

.servicesCard {
    background-color:  #FFFFFF;
    box-sizing: border-box;
    width: 340px;
    padding: 40px 10px 30px 30px;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.servicesIcon {
    background-color: #ECF7FF;
    padding: 20px;
    display: inline-block;
    border-radius: 100%;
}

.servicesIcon img {
    width: 40px;
    
}

/*newsletter*/

.newsletter {
    margin-top: 200px;
    padding: 136px 355px;
    background-color: #FFC600;
    color:#292E47;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter h3 {
    margin-bottom: 0px;
}

.newsletter p {
    margin-bottom: 2em;
}

.suscribe {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.suscribe input {
    border: none;
    background-color: #F4F6FC;
    width: 300px;
    height: 60px;

    background-image: url("img/newsletter/icon/mail.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 15px 50%;
    text-indent: 50px;
}

.suscribe button {
    border: none;
    height: 60px;
}

/*footer*/
footer {
    color: #6B708D;
    margin: 200px 110px 100px; 
    display: flex;
    justify-content: space-between;
    
}

.footerDescription {
    display: flex;
    justify-content: end;
    flex-direction: column;
    justify-content: space-between;
}

.navLogo {
    width: 93px;
    object-fit: cover;
}


footer ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    align-items: end;
}

footer a{
    color: #6B708D
}